@media screen and (max-width: 500px) {
    .air-quality-box {
        padding: 5rem 2rem 0rem 2rem;
    }
    p {
        font-weight: 400;
        font-size: 1rem;
    }
    .p-item-1-box.col-sm-4 {
        -ms-flex: 0 0 28%;
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 2rem;
    }
    .air-quality-item {
        padding: 0rem 2rem;
    }
    .line-abc {
        width: 50%;
    }
    .air-quality-item h2
    {
        padding-bottom: 0;
    }
    .photo-main-box {
        padding-top: 1rem;
        padding-bottom: 0rem ;
    }
    .bottom-line-p {
        width: 70%;
        height: 0.1vw;
        background-color: gray;
        margin: 1rem 0 2rem 0;
    }
    .s-main-para h5 {
        font-size: 2rem;
        text-align: center;
        font-weight: 700;
    }
    .s-main-para {
        width: 90%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .side-p-img-box {
        padding: 0 5vw !important;
        margin-bottom: 0 !important;
    }
    .side-para-box h4 {
        margin: 0;
        margin-bottom: 1rem;
        margin-top: 2rem;
        font-size: 1.75rem;
        font-weight: 600;
        color: var(--black);
        text-align: left !important;
    }
    .side-p-img-box-1 {
        padding: 0 5vw !important;
        margin-top: 1rem !important;
    }
    .side-p-img-box-1 .row {
        flex-direction: column-reverse;
    }
    .side-para-box-1 h4 {
        margin: 0;
        margin-bottom: 1rem;
        margin-top: 2rem;
        font-size: 1.75rem;
        font-weight: 600;
        color: var(--black);
        text-align: left !important;
    }
    .spectra-btn {
        width: 38vw;
        height: 13vw;
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4vw;
        background-color: var(--white);
        border: 2px solid lightgray;
        color: var(--black);
        margin-top: 3vw;
    }
  }