body {
  background-color: rgb(255,255,255);
  color: rgb(255,255,255);
}

#hero {
  width: 100%;
  height: 100vh;
  background: url(../../assets/img/fieldpromobile.jpg) center / cover no-repeat;
  color: #333;
}

@media (min-width: 768px) {
  #hero {
    background: url(../../assets/img/fieldpro.jpg) center / cover no-repeat;
  }
}

.nav.navbar-nav.text-center {
  text-align: start;
}

.navbar-light .navbar-nav .nav-link {
  color: #222;
}

#title {
  font-size: 32px;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  text-align: center;
}

#subtitle {
  text-align: left;
  font-size: 40px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

#hero-bottom {
  color: #fff;
}

.p-top {
  font-size: 26px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  margin-bottom: 0;
}

.p-bottom {
  font-size: 13px;
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

.btn:not(:disabled):not(.disabled) {
  background-color: rgba(0,98,204,0);
  border: 3px solid #fff;
  border-radius: 30px;
  width: 200px;
  height: 42px;
}

.btn.btn-link.btn-block.arrow-button {
  color: rgb(255,255,255);
  border: 0;
}

#hero-bottom .container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 800px;
  text-align: center;
}

.col.with-borders {
  border: 1px solid rgba(255,255,255,0.2);
  border-top: 0;
  border-bottom: 0;
}

#Pumpy {
  width: 100%;
  height: 100vh;
  background: url(../../assets/img/pumpy.jpg) center / cover no-repeat;
}

#rentals {
  background-color: rgb(255, 255, 255);
}

.row {
  height: 250px;
  margin: 10px;
}

.col {
  width: 700px;
}

#row-two {
  padding-top: 0;
}

#rental-heading {
}

#img-one {
}

#paragraph-one {
  flex: 33.33%;
  width: 50%;
  height: 100%;
  color: rgb(0,0,0);
  object-fit: contain;
}

.rental-why {
  width: 100%;
  height: 300vh;
}

#rental-why {
}

#paragraph-two {
  width: 50%;
  height: 100%;
  object-fit: contain;
  color: rgb(0,0,0);
}

#why-rent-two {
  width: 100%;
  height: 100vh;
  background-color: #000000;
}

#part-one {
  height: 50%;
  width: 1100px;
}

#imimimimi {
  flex: 33.33%;
}

#jijigjdfgosjofig {
  flex: 33.33%;
}

#pic-two {
  flex: 33.33%;
}

#cont-one {
  width: 1100px;
  height: 50%;
}

#cont-two {
  width: 1100px;
  height: 50%;
}

#why-rent-three {
  width: 100%;
  height: 100vh;
  background-color: #000000;
}

#cont-three {
  width: 1100px;
  height: 50%;
}

#para-three {
  flex: 33.33%;
}

#pic-three {
  flex: 33.33%;
}

#cont-four {
  width: 1100px;
  height: 50%;
}

#pic-four {
  flex: 33.33%;
  width: 50%;
  height: 100%;
}

#para-four {
  flex: 33.33%;
}

#field-pro {
  width: 100%;
  height: 100vh;
  background: url(../../assets/img/IMG-7395.jpg) center / cover no-repeat;
}

#field-pro-two {
  width: 700px;
}

#field-button {
}

#home-button {
}

#field-pro-bottom {
}

.ptop {
}

#slide-show {
  width: 100%;
  height: 100vh;
}

#img-one {
  width: 100%;
  height: 75%;
}

#imgone {
  width: 1100px;
  height: 75%;
}

#panels {
  width: 100%;
  height: 100vh;
  background-color: #000000;
}

#container-one {
  width: 1100px;
  height: 50%;
}

#panel-one {
  width: 50%;
  height: 100%;
}

#container-two {
  width: 1100px;
  height: 50%;
}

#paragraph-two {
}

#panel-two {
  width: 50%;
  height: 100%;
}

#slide-show {
}

#slide-one {
  width: 1100px;
  height: 75%;
}

#panels-two {
  width: 100%;
  height: 100vh;
}

#conty-tree {
  width: 1100px;
  height: 50%;
}

#imger-tree {
  width: 50%;
  height: 290px;
}

#pp-tree {
  width: 50%;
  height: 100%;
}

#jani {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}

#unit {
}

#unit_jani {
  width: 70%;
  height: 100%;
}

#jani_unit {
  width: 30%;
  height: 100%;
}

#fdsfs {
  width: 100%;
  height: 100%;
}

#pictext {
  width: 75%;
  height: 100%;
}

#textpic {
  width: 25%;
  height: 100%;
}

#janitext {
}

#photo-text {
  width: 100%;
  height: 100vh;
}

#header-photo {
}

#header-foto {
  width: 100%;
  height: 100%;
}

#para-one {
  width: 50%;
  height: 100%;
  color: rgb(0,0,0);
}

#text-box {
  width: 100%;
  height: 40%;
}

#para-twotwo {
  width: 100%;
  height: 100%;
}

#chart {
  width: 100%;
  height: 100vh;
  background-color: #000000;
}

#stats {
  width: 600px;
  margin: 0 auto;
}

#map {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}

#map-conainer {
  width: 800px;
  height: 450px;
}

#map-image {
}

#final {
  height: 100vh;
  width: 100%;
  background-color: #000000;
}

#footer {
  color: rgb(0,0,0);
}

#navcol-1 {
}

#homefooter {
  width: 100%;
  height: 100px;
}

#instagram-link {
}

